name: "Docker Build"

on:
  push:
  #  branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  docker-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6

      - name: Install nix
        uses: cachix/install-nix-action@v31

      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: holochain-ci
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build docker image
        run: nix build .#docker-image

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Docker image
        run: |
          docker load -i result
          docker tag wind-tunnel-runner:latest ghcr.io/holochain/wind-tunnel-runner:latest
          docker image push ghcr.io/holochain/wind-tunnel-runner:latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}